<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>ToDo and Django</title>
</head>

<body>
  <div class="container" style="margin-top: 122px;">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Все ({{ tasks.count }})</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">Выполненные ({{ dones.count }})</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">Невыполненные ({{ not_dones.count }})</a>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Добавить задание
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


        {% for task in tasks %}

        <div class="card mt-3">
          <div class="card-header">
            {{ task.title }} {% if task.is_done %}<span class="badge badge-success">Выполнено</span>{% else %}<span
              class="badge badge-warning">Не выполнено</span>{% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">#{{ task.id }} -- {{ task.title }}</h5>
            <p class="card-text">{{ task.desc }}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#modal_task{{ task.id }}">Редактировать</button>

            </div>
          </div>
        </div>
        <!-- Modal for all-->
        <div class="modal fade" id="modal_task{{ task.id }}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование задания</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    {% csrf_token %}
                    <label for="title">Новое название</label>
                    <input type="text" name="title" class="form-control" value="{{ task.title }}">
                    <label for="desc">Новое описание</label>
                    <textarea class="form-control mt-2" name="desc">{{ task.desc }}</textarea>
                    <input class="form-check-input ml-0" type="checkbox" name="is_done" {% if task.is_done %}
                      checked{% endif %}>
                    <label class="form-check-label ml-3" for="is_done">
                      Выполнено
                    </label>
                    <input class="form-check-input ml-0" type="checkbox" name="delete">
                    <label class="form-check-label ml-3" for="delete">
                      Я хочу просто удалить вот это вот все. 
                    </label>
                    <input type="id" name="id" class="form-control invisible" value="{{ task.id }}">
                    <div class="modal-footer">
                      <input type="submit" value="Спаси и сохрани" class="btn btn-primary">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Передумал</button>
                    </div>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
        {% endfor %}


        
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        {% for task in dones %}

        <div class="card mt-3">
          <div class="card-header">
            {{ task.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">#{{ task.id }} -- {{ task.title }}</h5>
            <p class="card-text">{{ task.desc }}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#modal_task{{ task.id }}u">Редактировать</button>

            </div>
          </div>
        </div>
        <!-- Modal for dones-->
        <div class="modal fade" id="modal_task{{ task.id }}u" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование задания</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    {% csrf_token %}
                    <label for="title">Новое название</label>
                    <input type="text" name="title" class="form-control" value="{{ task.title }}">
                    <label for="desc">Новое описание</label>
                    <textarea class="form-control mt-2" name="desc">{{ task.desc }}</textarea>
                    <input class="form-check-input ml-0" type="checkbox" name="is_done" {% if task.is_done %}
                      checked{% endif %}>
                    <label class="form-check-label ml-3" for="is_done">
                      Выполнено
                    </label>
                    <input class="form-check-input ml-0" type="checkbox" name="delete">
                    <label class="form-check-label ml-3" for="delete">
                      Я хочу просто удалить вот это вот все. 
                    </label>
                    <input type="id" name="id" class="form-control invisible" value="{{ task.id }}">
                    <div class="modal-footer">
                      <input type="submit" value="Спаси и сохрани" class="btn btn-primary">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Передумал</button>
                    </div>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        {% for task in not_dones %}

        <div class="card mt-3">
          <div class="card-header">
            {{ task.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">#{{ task.id }} -- {{ task.title }}</h5>
            <p class="card-text">{{ task.desc }}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#modal_task{{ task.id }}u">Редактировать</button>

            </div>
          </div>
        </div>
        <!-- Modal for not_dones-->
        <div class="modal fade" id="modal_task{{ task.id }}u" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование задания</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    {% csrf_token %}
                    <label for="title">Новое название</label>
                    <input type="text" name="title" class="form-control" value="{{ task.title }}">
                    <label for="desc">Новое описание</label>
                    <textarea class="form-control mt-2" name="desc">{{ task.desc }}</textarea>
                    <input class="form-check-input ml-0" type="checkbox" name="is_done" {% if task.is_done %}
                      checked{% endif %}>
                    <label class="form-check-label ml-3" for="is_done">
                      Выполнено
                    </label>
                    <input class="form-check-input ml-0" type="checkbox" name="delete">
                    <label class="form-check-label ml-3" for="delete">
                      Я хочу просто удалить вот это вот все. 
                    </label>
                    <input type="id" name="id" class="form-control invisible" value="{{ task.id }}">
                    <div class="modal-footer">
                      <input type="submit" value="Спаси и сохрани" class="btn btn-primary">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Передумал</button>
                    </div>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
        {% endfor %}


        

      </div>
    </div>


    <!-- Modal for new task-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Добавление задания</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              {% csrf_token %}

              {{ form_for_create }}
              <div class="modal-footer">
                <input type="submit" value="Создать новую запись" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Передумал</button>

              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>